# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore .env file (for environment variables)
.env

# Ignore configs folder
configs
data/credits.json

#ignore node_modules
node_modules
